---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$header-font-family: 'League Gothic', Helvetica, Arial, sans-serif;
$base-font-family: 'Prociono', serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$page-min-width: 300px;
$page-max-width: 960px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #a40000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$pagination-colour-1: #ffb20d;
$pagination-colour-2: #ff0000;
$pagination-colour-3: #a40000;


$sizes: (
bp-small: 24em,
bp-small-2: 29.75em,
bp-small-3: 39.8em,
bp-med: 46.8em,
bp-med-2: 48em,
bp-large: 50em,
bp-large-2: 54.5em,
bp-xl: 60em,
bp-xl-2: 67em
);



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
