<footer class="site-footer">
  <div class="wrapper">
    <h3>Contact/Follow Us</h3>
    <ul class="">
      <li>
	<a href="https://www.facebook.com/profile.php?id=100004463012924">
	  <span class="fa fa-facebook-square"></span> Facebook</a></li>
      <li>
	<a href="https://twitter.com/EidolaRecords">
	  <span class="fa fa-twitter-square"></span> Twitter</a></li>
      <li>
	<a href="https://soundcloud.com/eidolarecords">
	  <span class="fa fa-soundcloud"></span> Soundcloud</a></li>
      <li>
	<a href="https://www.youtube.com/eidolarecords">
	  <span class="fa fa-youtube"></span> You Tube</a></li>
      <li>
	<a href="mailto:info@eidolarecords.co.uk">
	  <span class="fa fa-envelope"></span> Email</a></li>
    </ul>
    <strong>Copyright &copy; 2015 Eidola Records</strong>
  </div>
</footer>
