<ul class="share-buttons">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.eidolarecords.co.uk&t="
       target="_blank"
       title="Share on Facebook"
       onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><span class="fa fa-facebook-square"></span></a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.eidolarecords.co.uk&text=:%20http%3A%2F%2Fwww.eidolarecords.co.uk&via=eidolarecords"
       target="_blank"
       title="Tweet"
       onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><span class="fa fa-twitter-square"></span></a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.eidolarecords.co.uk"
       target="_blank"
       title="Share on Google+"
       onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><span class="fa fa-google-plus-square"></span></a>
  </li>
  <li>
    <a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.eidolarecords.co.uk&t=&s="
       target="_blank"
       title="Post to Tumblr"
       onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><span class="fa fa-tumblr-square"></span></a>
  </li>
  <li>
    <a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.eidolarecords.co.uk"
       target="_blank"
       title="Email"
       onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><span class="fa fa-envelope"></span></a>
  </li>
</ul>
