ul.share-buttons {
    margin:0;
    padding:0;
    list-style: none;
    > li {
	float: left;
	margin-right: 5px;
	> a {
	    font-size: 24px;
	}
    }
}
footer {
    ul {
	@extend %clearfix;
	li{
	    float: left;
	    margin-right: 15px;
	}
    }
    
}