---
layout: default
---
<div class="post">
  
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-image">
    <img src="{{ site.baseurl }}/assets/images/{{ page.slug }}.png"/>
  </div>
  <p class="post-meta">{{ page.date | date: "%-d %B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  <article class="post-content">
    {{ content }}
  </article>
  <h2>Releases</h2>
  <div class="post-list">
    {% assign releases = (site.data.releases | where: "artist", page.slug | sort: "date" ) %}
    {% for release in  releases reversed %}
    <div class="box release">
      <a class="post" href="{{ site.products }}{{ release.product_id }}">
	<img src="{{ site.baseurl }}/assets/images/{{ release.cat_id }}.png"/>
	<h2 class="release-title">{{ release.title }}</h2>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

